<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" http-equiv="refresh" content="4; url=http://localhost:8080">
        <title>Error 500</title>
        
        <style>
	
			body {
				background-color: #222;
				color: #f2f2f2;
			}
		
			.errPage {
				margin-top: 25%;
				text-align: center;
			}
		
			.errPage p{
				font-size: 3em;
			}
		</style>
    </head>
    <body>
    
    	<div class="errPage">
		
		<p>Book could not be found check the ID and try again</p>
        
        <br>
        <p>You will be redirected in 4 seconds</p>
	
	</div>
        
    </body>
</html>