<th:block th:fragment="header">
	<!DOCTYPE html>
	<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		xmlns:th="http://www.thymeleaf.org"
		layout:decorate="~{fragments/layout}">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<meta name="description" content="dev. books">
	<meta name="author" content="Bookshop">
	<!-- <meta http-equiv="refresh" content="20" > -->
	<!-- <link rel="shortcut icon" th:href="@{/favicon_io/favicon-16x16.png}"> -->
	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<link data-th-href="@{/styles/bootstrap.css}" rel="stylesheet">
	<link data-th-href="@{/styles/css.css}" rel="stylesheet">
    <link href="@{/styles/fontawesome/css/all.css}" rel="stylesheet">
</head>
</th:block>
</body>
</html>

 
  