<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<div th:insert="/fragments/header :: header"></div>
<style>
#h1 {
	text-align: center !important;
	width: 50%;
	font-size: 4rem;
	transform: translateY(-100px);
	/* background-color: cornflowerblue; */
	margin-left: 30%;
	opacity: 0.3;
}

.editTable {
	/* background-color: cornflowerblue;  */
	margin-left: 25%;
}

.editTable input {
	padding-left: 20px;
}

.editTable textarea {
	padding: 10px 20px;
}

.btn:nth-child(2) {
	margin-left: 100px;
}

.rightArea {
	margin: 100px 0 0 100px;
}
</style>
</head>
<body>
	<div class="wrapper">
		<div class="navArea">

			<div th:insert="/fragments/navBar :: navBar"></div>

		</div>
		<div class="banner">
			<div class="navArea">
				<div class="brand">
					<a th:href="@{/}" id="logo">BS</a>
				</div>
				<div class="searchArea">
					<div id="navbar" th:insert="/fragments/navBar :: navSearch"></div>
				</div>
				<!-- .SearchArea -->
				<div id="navbar" th:insert="/fragments/navBar :: navBar"></div>
			</div>
			<!-- .NavArea -->

			<div id="h1">
				<span>Edit Book</span>
			</div>
		</div>
		<!-- .Banner -->


		<div class="container-fluid" id="mainArea">
			<!-- <button class="btn btn-info">Bootstrap</button> -->
			<div class="leftArea">
				<!-- <h3>SIDEBAR</h3> -->
				<!-- <table>
					<thead>
						<tr>
							<th>Brands</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="book : ${bookList}">
							<td th:text="${book.make}"></td>
							<a th:href="@{/category}"></a>
						</tr>
					</tbody>
				</table> -->
			</div>

			<div class="rightArea">
				<form th:object="${editBook}" th:action="@{/edit/{id}(id=${id})}"
					method="post">
					<table class="editTable">
						<!-- <tr>
							<td>ID</td>
							<td><input type="text" name="myId" th:field="*{id}" size="25"/></td>
						</tr> -->
						<tr>
							<td>ISBN</td>
							<td><input type="text" name="isbn" th:field="*{isbn}" /></td>
						</tr>
						<tr>
							<td>Title</td>
							<td><input type="text" name="title" th:field="*{title}" size="30"/></td>
						</tr>
						<tr>
							<td>Genre</td>
							<td><input type="text" name="genre" th:field="*{genre}" /></td>
						</tr>
						<tr>
							<td>Author</td>
							<td><input type="text" name="author" th:field="*{author}" /></td>
						</tr>
						<tr>
							<td>Price</td>
							<td><input type="text" name="price" th:field="*{price}" /></td>
						</tr>
						<tr>
							<td>Publisher</td>
							<td><input type="text" name="publisher"
								th:field="*{publisher}" /></td>
						</tr>
						<tr>
							<td>Pub. Year</td>
							<td><input type="text" name="pubYear" th:field="*{pubYear}" /></td>
						</tr>
						<tr>
							<td>Description</td>
							<td><textarea id="txtAr" name="description"
									th:field="*{description}" rows="6" cols="50">
								</textarea></td>
						</tr>
						<tr>
							<td>Amazon URL</td>
							<td><textarea type="text" name="buy" th:field="*{buyBook}"
									rows="2" cols="50"></textarea></td>
						</tr>
						<tr>
							<td>Image URL</td>
							<td><textarea type="text" name="imgs" th:field="*{imgPath}"
									rows="2" cols="50"></textarea></td>
						</tr>
						<td></td>
						<td><input type="submit" value="Submit"
							class="btn btn-success btn-sm" />
							<button class="btn btn-danger btn-sm" type="cancel"
								onclick="javascript:window.location='/books';">Cancel</button></td>
					</table>

				</form>
			</div><!-- .RightArea -->
		</div><!-- #MainArea -->
		<div class="footer" th:insert="/fragments/footer :: footer"></div>
	</div>
	<!-- .Wrapper -->
</body>
</html>


